.content {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
}


tr.element-row:not(.table-header):hover {
    background: whitesmoke;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.container {
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.one {
    width: 75%;
    height: 100%;
    float: left;
}

.two {
    margin-left: 77%;
    height: 100%;
    margin-top: 5%;
}