
  <section class="container">
    <div class="one"> 
      <mat-card class="card">
        <form class="example-form" [formGroup]=userForm>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            
          
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field></td>
            </tr></table>
        
          <div formGroupName="address"> 
            <p>
              <mat-form-field class="example-full-width">
                <mat-label>Street</mat-label>
                <input matInput formControlName="street">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Suite</mat-label>
                <input matInput formControlName="suite">
              </mat-form-field>
            </p>
          
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
              </mat-form-field></td>
            
              <td><mat-form-field class="example-full-width">
                <mat-label>Postal Code</mat-label>
                <input matInput #postalCode maxlength="18" formControlName="city">
                <mat-hint align="end">{{postalCode.value.length}} / 18</mat-hint>
              </mat-form-field></td>
            </tr></table>
          </div>
        
            <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Website</mat-label>
                  <input matInput formControlName="website">
                </mat-form-field></td>
              </tr></table>
        
          <div formGroupName="company">
            <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <mat-label>Company Phrase</mat-label>
                <input matInput formControlName="catchPhrase">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width">
                <mat-label>Company Bs</mat-label>
                <input matInput formControlName="bs">
            </mat-form-field></td>
            </tr></table>
          </div>
        
          </form>
        </mat-card>
    </div>
    <div class="two">

      <profile
      [user]="user"></profile>
    </div>
  </section>


