.user-card {
    max-width: 400px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.material-icons {
    vertical-align: middle;
    color: #424242;
}
.space-left {
    margin-left: 27px;
}
a {
    margin-left: 5px;
}