<mat-card class="example-card"
    *ngIf="user">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>{{user.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
      <div>
        <i class="material-icons">email</i>
        {{user.email}}
      </div>

      <div>
        <i class="material-icons">home</i>
        {{user.address.street}}
        <div class="space-left">{{user.address.suite}}</div>
        <div class="space-left">{{user.address.city}}</div>
        <div class="space-left">{{user.address.zipcode}}</div>
      </div>
      <div>
        <i class="material-icons">phone</i>
        {{user.phone}}
      </div>
      <div>
        <i class="material-icons">http</i>
        <a href="http://www.{{user.website}}" target="_blank">{{user.website}}</a>
      </div>
      <div>
        <i class="material-icons">business</i>
        {{user.company.name}}
        <div class="space-left">{{user.company.catchPhrase}}</div>
        <div class="space-left">{{user.company.bs}}</div>
      </div>

    </mat-card-content>
    <mat-card-actions *ngIf='edit; else elseBlock'>
      <button mat-raised-button color="primary"
      (click)="updateUser()">UPDATE</button>
      <button mat-button color="warn"
      (click)="deleteUser()">DELETE</button>
    </mat-card-actions>
    <ng-template #elseBlock>
      <mat-card-actions>
        <button mat-raised-button color="primary"
        (click)="editUser()">EDIT</button>
      </mat-card-actions>
     
    </ng-template> 
  </mat-card>